<ng-progress></ng-progress>
<div class="container" [ngClass]="showSignUp ? '' : 'right-panel-active' " id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="signUpform" (ngSubmit)="register()">
      <h1>Create Account</h1><i class="fa fa-google"></i>

      <div class="social-container">
        <img  class="social" src="../../../assets/img/fb.svg"  />
        <img  class="social" (click)="socialSignIn('google')" src="../../../assets/img/g+.png" />
      </div>
      <span>or use your email for registration </span>
      <input type="text" placeholder="username" formControlName="username"/>
      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="Password" formControlName="password"  />
      <button>Sign Up </button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <h1>Sign in</h1>
      <div class="social-container">
        <img  class="social" src="../../../assets/img/fb.svg" />
        <img  class="social" (click)="socialSignIn('google')" src="../../../assets/img/g+.png" />
      </div>
      <span>or use your account</span>
      <input ngModel type="text" name="username" placeholder="Email or username" />
      <input ngModel type="password" placeholder="Password" name="password"/>
      <a [routerLink]="['/restorePassword/request']" class="forgot-password">Forgot your password?</a>
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="
        this.showSignUp = !this.showSignUp;" >Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" (click)="
        this.showSignUp = !this.showSignUp;" >Sign Up</button>
      </div>
    </div>
  </div>
</div>
