
 <ng-progress></ng-progress>
<div class="container" id="container" >
    <form class="form-container" #f="ngForm" (ngSubmit)="changePassword(f.value)">
      <h1 style="color:#525f7f">Reset Password</h1>
      <input ngModel type="password" placeholder="Password" name="password"  />
      <button>Save</button>
    </form>
</div>
