.img-user {
  height: 45px;
  width: 52px;
}
.desc-txt {
  font-size: 82%;
}
.cont {
  height: 24.8rem;
}
.link-user {
  color: #ffffff;
}
.pr-img-fin {
  width:65%
}
.pr-img-inf{
  width:85%
}
.txt-cont {
  border: 0.5px solid #ffffff14;
  height: 15vh;
  overflow: auto;
  background: #ffffff04;
  border-radius: 5px;
}
/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff44;
  border-radius: 10px;
}

.popup {
  background: #344675;
  background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
  background-color: #344675;
  color: white;
}
.m-header {
  border-bottom: 0.75px solid rgba(255, 255, 255, 0.5);
  padding: 2%;
}
.c-btn {
  margin-bottom: 25px;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.75);
}
.c-btn:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 105%;
}
.user-like {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.user-mail {
  font-size: 95%;
  color: rgba(255, 255, 255, 0.75);
}

.dd-proj {
  color: #fffffff5;
  z-index: 100;
  font-size: 116%;
}
