<div class=" content">
	<div class=" card card-user">
		<div class="card-header p-1 pl-4">
			<div class=" tools float-right mr-5">

				<div class=" nav-item dd-proj" ngbDropdown>

					<a class=" nav-link dd-proj ml-5 pl-5"  href="javascript:void(0)"
						ngbDropdownToggle>
						<span class="btn btn-link btn-icon ml-5 pl-4 dd-proj"
							aria-haspopup="true">
							<i class=" tim-icons icon-settings-gear-63 mt-0"></i>
						</span>
					</a>

					<ul class=" dropdown-navbar mr-5" style="width:200px;" aria-labelledby="dropdownMenuButton"
						ngbDropdownMenu>
						<li class=" nav-link m-0 p-0 ">
							<a class=" nav-item" href="javascript:void(0)" (click)="setFavorites()" ngbDropdownItem>
								<i class="fa fa-star" aria-hidden="true"></i>
								{{ isFavorites() ? 'Remove from favorits' : 'Add to favorits'}}
							</a>
						</li>
						<li class=" nav-link m-0 p-0" *ngIf="project?.user?.id==user?.id">
							<a class=" nav-item" href="javascript:void(0)" ngbDropdownItem (click)="addArchived()">
								<i class="fa fa-archive" aria-hidden="true"></i>
								Add to archive
							</a>
						</li>

					</ul>
				</div>
			</div>
			<a routerLink="/user/{{ project?.user?.id }}" class="row">
				<img alt="..." class="avatar img-user m-0" src="{{ project?.user?.profilePicture }}" />
				<h5 class="title pt-3 pl-2">{{ project?.user?.username }}</h5>
			</a>

		</div>
		<div class=" card-body p-0 pr-2 pl-2 pb-0">
			<div class=" author m-0">
				<div class=" block block-three"></div>
				<div class=" block block-four"></div>
				<a href="javascript:void(0)" class="row mr-2">
					<div *ngIf="project?.mainContribution?.type == 'media'" class="col-5 p-3 pt-0 pb-0 mb-0 cont">
						<img alt="..." class="float-left mt-0" height="{{ project?.finished != true ? '420' : '310' }}"
							class="ml-3 mr-3 {{ project?.finished == true ? 'pr-img-fin' : 'pr-img-inf'}}"
							src="{{ project?.mainContribution?.content }}" />
						<div *ngIf="project?.finished" class="card-text text-left mt-2 mb-2 txt-cont p-1">
							{{ project?.selectedContribution?.content }}</div>
					</div>
					<div *ngIf="project?.mainContribution?.type != 'media'" class="col-7 p-3 pt-0 pb-0 mb-5 cont">
						<div class="card ml-3 mr-3 cont" style="width:34rem;">
							<div class="card-body">
								<img *ngIf="project?.selectedContribution != null" alt="..." class="float-left mt-0"
									height="275" style="width:50%;" class="ml-3 mr-3"
									src="{{ project?.selectedContribution?.content }}" />
								<img *ngIf="project?.selectedContribution == null" alt="..." class="float-left mt-0"
									height="275" style="width:50%;" class="ml-3 mr-3" src="assets/img/unknown.jpeg" />
								<div class="card-text text-left mt-2 mb-2 txt-cont p-1">
									{{ project?.mainContribution?.content }}</div>
							</div>
						</div>
					</div>
					<div class="{{ project?.mainContribution?.type != 'media' ? 'col-5' : 'col-7' }} pr-2 text-left">
						<div class=" card mt-2 mr-2">
							<div class=" card-header pt-0">
								<h4 class="card-title float-left d-block mt-2 mb-0 ">{{ project?.title }}</h4>
							</div>
							<div class="card-body mb-0 mt-0 m-0 p-1 pr-2 pl-2">
								<div class="m-0 p-0 mr-2 ml-2 desc-txt text-left">
									{{ project?.description }}
								</div>
								<div *ngIf="project?.contributions" class="table-responsive ps pb-0">
									<app-view-contribution [project]="project?.id"
										[contributions]="project?.contributions"></app-view-contribution>

								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class=" card-footer p-1 pt-0">

			<div class="row">
				<div class="ml-4 col-5">

					<!--<button (click)="liking()" class=" btn btn-round float-left tim-icons icon-heart-2 like-button pl-3 pr-3 ml-2 font-weight-bold">
																																																																																																										&nbsp;
																																																																																																										{{ like ? "dislike" : "like"  }}
																																																																																																									</button>

																																																																																																									<button class=" btn btn-round float-left tim-icons icon-shape-star like-button pl-3 pr-3 font-weight-bold">
																																																																																																										&nbsp; Favorits
																																																																																																									</button>-->
					<button (click)="liking()"
						class=" ml-1 btn btn-icon btn-round p-0 {{ like ? 'btn-danger fa fa-heartbeat' : 'btn-primary tim-icons icon-heart-2'  }}"
						style="font-size:125%;">

					</button>
					<a data-target="#likeModal" data-toggle="modal" (click)="open(content)" id="like-button"
						class=" ml-1 " href="javascript:void(0)">
						<ins>{{ project?.likes?.length }}
							Like
						</ins>
					</a>
				</div>
				<div class=" row col-7">
					<form *ngIf="allowedToContribute(12)" [formGroup]="contributionForm" class="col-12 d-inline">
						<div class="row">
							<textarea class="form-control mb-1 mt-1 mr-1 pr-2 col-8"
								placeholder=" Here can be your contribution . . ."
								style="background:rgba(255, 255, 255, 0.103);height:22xp;border-radius:10px;"
								formControlName="contribution" rows="1"></textarea>
							<button (click)="contribute()" class="  btn btn-round pl-3 pr-3 ml-0 col-3"
								href="javascript:void(0)">
								Contribute
							</button>
						</div>
					</form>
					<div *ngIf="allowedToContribute(1)" class="col-3"></div>
					<div *ngIf="allowedToContribute(1)"
						class="custom-file fap-container file-container col-6 mb-1 mt-0 pt-0 mr-0 pr-2">
						<input *ngIf="allowedToContribute(11)" (change)="onSelectedFile($event)" type="file"
							class="custom-file-input float-right mt-0 pt-0 ml-5" id="customFile" name="filename" />
						<label *ngIf="allowedToContribute(11)" class="custom-file-label ml-5 mt-1" for="customFile"
							data-browse="Fichier"
							style="background:rgba(255, 255, 255, 0.103);height:22xp;width:225px;border-radius:18px;">
							File . . .
							{{ progress != null ? progress + " %  " + selectedFiles?.name : "" }}
						</label>
					</div>
					<button (click)="contribute()" *ngIf="allowedToContribute(0)" class="  btn btn-round pl-3 pr-3 ml-0"
						href="javascript:void(0)">
						Contribute
					</button>
				</div>

			</div>
		</div>
	</div>
</div>


<ng-template #content let-modal>
	<div *ngIf="project.likes" style="margin-top:40vh;">
		<div class="modal-content card card-user popup" style="margin-top:-50vh;height:60vh;margin-bottom:-10vh;">
			<div class=" modal-header m-header pl-3">
				Like

				<button aria-label="Close" class=" close" data-dismiss="modal" type="button"
					(click)="modal.dismiss('Cross click')">
					<i class=" tim-icons icon-simple-remove  c-btn"></i>
				</button>
			</div>
			<div class="modal-body pt-1 " style="overflow: auto;">
				<div *ngFor="let like of project.likes" class="row user-like pt-0">

					<div class="col-2">
						<a routerLink="/user/{{ like?.user?.id }}" (click)="modal.dismiss('Cross click')">
							<img alt="photo" class="avatar img-user" src="{{ like?.user?.profilePicture }}" />
						</a>
					</div>
					<a routerLink="/user/{{ like?.user?.id }}" (click)="modal.dismiss('Cross click')"
						class="col-7 link-user">
						<div>
							{{ like?.user?.username }}<br />
							<span class="user-mail">{{ like?.user?.email }}</span>
						</div>
					</a>
					<div class="col-3 pt-3">
						<span
							class="user-mail text-right">{{ like?.date.substring(0, 10).replace("-", "/").replace("-", "/") }}</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				...
			</div>
		</div>
	</div>
</ng-template>
