
 <ng-progress></ng-progress>
<div class="container" id="container" >
  <form class="form-container" #f="ngForm" (ngSubmit)="requestNewPassWord(f.value)">
    <h1 style="color:#525f7f;" >Request Password</h1>
    <input ngModel type="email" placeholder="Email" name="email" />
    <div class="formGroup">
      <button>Send</button>
      <button type="button" [routerLink]="['/sign']" >Cancele</button>
    </div>
  </form>
</div>
