

<mat-card style="max-width: 400px;margin-bottom: 20px; margin-left: 190px;overflow: hidden;">
  <mat-card-header style="margin-bottom: 15px;position: relative;">
    <div mat-card-avatar [ngStyle]="ProfileBackgroundImage"></div>
    <mat-card-title>{{feed?.user?.firstName }} {{ feed?.user?.lastName }}</mat-card-title>
    <mat-card-mat-card-title style="position: absolute;right: 10px;" (click)="unarchive()" *ngIf="cardOperationType==2"><img height="30px" src=".././.././../assets/img/deleteArchived.png">
    </mat-card-mat-card-title>
  </mat-card-header>

  <mat-card-title >{{feed?.title}}</mat-card-title>
  <mat-card-content>
    <p style="color: rgba(0,0,0,.87);text-align: center;">
      {{ feed.description }}
    </p>
  </mat-card-content>
  <div class="hovereffect" style="text-align: center;overflow: hidden;">
    <img mat-card-image [defaultImage]="lazyImage" [lazyLoad]="ProjectBackgroundImage">
      <div class="overlay">
        <a class="info btn-round "  [routerLink]="['/project',feed.id]">Voir le Projet</a>
      <mat-card-content>
        <p >
          Copy-content: {{ feed?.mainContribution?.type === 'copy' ? feed?.mainContribution?.content : feed?.selectedContribution?.content!=null?feed?.selectedContribution?.content:'No Content' }}
        </p>
      </mat-card-content>
     </div>
</div>
  <mat-card-actions>
    <button mat-button>
      <i class="fa fa-heartbeat pt-1"></i>
    <span class="txt"> {{feed.likes.length}}</span>
    </button>
    <button mat-button>
      <i class="fa fa-star"></i>  <span class="txt"> {{feed.favorites}}</span>  </button>
    <button mat-button>
      <i class="fa fa-cubes pt-1"></i> <span class="txt"> {{feed.contributions.length}}</span>  </button>
  </mat-card-actions>
</mat-card>
