<div class="content">
	<div *ngIf="update && isAuth" class=" row mb-1">
		<div class=" col-md-8">
			<div class=" card">
				<div class=" card-header">
					<h5 class=" title">Edit Profile</h5>
				</div>
				<div class=" card-body">
					<form [formGroup]="updateForm" (ngSubmit)="updateUser()">
						<div class=" row">
							<div class=" col-md-5 pr-md-1">
								<div class=" form-group">
									<label>
										Level
									</label>
									<input class=" form-control" disabled="" type="text"
										value="{{ user?.level?.name }} - Score : {{ user?.score }}" />
								</div>
							</div>
							<div class=" col-md-3 px-md-1">
								<div class=" form-group">
									<label>
										Username
									</label>
									<input class=" form-control" placeholder="Username" type="text"
										formControlName="username" />
								</div>
							</div>
							<div class=" col-md-4 pl-md-1">
								<div class=" form-group">
									<label for="exampleInputEmail1">
										Email address
									</label>
									<input class=" form-control" placeholder="Exemple@email.com" type="email"
										formControlName="email" />
								</div>
							</div>
						</div>
						<div class=" row">
							<div class=" col-md-6 pr-md-1">
								<div class=" form-group">
									<label>
										First Name
									</label>
									<input class=" form-control" placeholder="Firstname" type="text"
										formControlName="firstName" />
								</div>
							</div>
							<div class=" col-md-6 pl-md-1">
								<div class=" form-group">
									<label>
										Last Name
									</label>
									<input class=" form-control" placeholder="Last Name" type="text"
										formControlName="lastName" />
								</div>
							</div>
						</div>
						<div class=" row">
							<div class=" col-md-12">
								<div class=" form-group">
									<label>
										Address
									</label>
									<input class=" form-control" placeholder="Address" type="text"
										formControlName="location" />
								</div>
							</div>
						</div>
						<div class=" row">
							<div class=" col-md-4 pr-md-1">
								<div class=" form-group">
									<label>
										Sex
									</label>
									<select formControlName="sex" class="form-control">
										<option value="1">Male</option>
										<option value="2">Female</option>
									</select>
								</div>
							</div>
							<div class=" col-md-4 px-md-1">
								<div class=" form-group">
									<label>
										Birthday
									</label>
									<input class=" form-control" type="date" formControlName="birthday" />
								</div>
							</div>
							<div class=" col-md-4 pl-md-1">
								<div class=" form-group">
									<label>
										Phone
									</label>
									<input class=" form-control" placeholder="Ex: +216 xxx xxx xx" type="number"
										formControlName="phone" />
								</div>
							</div>
						</div>
						<div class=" row">
							<div class=" col-md-8">
								<div class=" form-group">
									<label>
										About Me
									</label>
									<textarea class=" form-control" cols="80" placeholder="Here can be your description"
										rows="4" formControlName="bio"></textarea>
								</div>
							</div>
							<div class=" form-group col-md-4">
								<label>
									URL
								</label>
								<input class=" form-control" placeholder="Ex: www.example.com" type="text"
									formControlName="url" />
							</div>
						</div>
						<div class=" card-footer">
							<button class=" btn btn-fill btn-danger" type="submit">
								Save
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class=" col-md-4">
			<div class=" card card-user">
				<div class=" card-body" style="height:536px;">
					<p class=" card-text"></p>
					<div class=" author">
						<div class=" block block-one">odd</div>
						<div class=" block block-two">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit
							minima consectetur veniam debitis nobis eaque aut b
						</div>
						<div class=" block block-three"></div>
						<div class=" block block-four"></div>
						<a href="javascript:void(0)">
							<img alt="..." class=" avatar" src="{{ user?.profilePicture }}" />
							<h5 class=" title">{{ user?.username }}</h5>
						</a>
						<p class=" description">{{ user?.level?.name }}</p>
					</div>
					<div class=" card-description">
						{{ user?.bio }}
					</div>
					<div class="card-description button-container">
						<button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
							<i class=" fab fa-facebook"></i>
						</button>
						<button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
							<i class=" fab fa-twitter"></i>
						</button>
						<button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
							<i class=" fab fa-google-plus"></i>
						</button>
					</div>
				</div>
				<div class=" card-footer">
					<div class=" button-container">
						<button class=" btn btn-icon btn-round btn-danger float-right" href="javascript:void(0)"
							(click)="onUpdatePhotoChoice()">
							<i class="tim-icons icon-image-02"></i>
						</button>
						<button class=" btn btn-icon btn-round float-right" href="javascript:void(0)"
							(click)="onUpdateChoice()">
							<i class="tim-icons icon-single-02"></i>
						</button>
					</div>
					<!---->
					<div *ngIf="updatePhoto" class="container">
						<div class="custom-file mt-1 fap-container file-container">
							<input (change)="onSelectedFile($event)" type="file" class="custom-file-input"
								id="customFile" name="filename" />
							<label class="custom-file-label" for="customFile" data-browse="Fichier">
								File . . .
								{{ progress != null ? progress + " % " : "" }}
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!update" class="row">
		<div class=" col-md-12">
			<div class=" card card-user">
				<div class=" card-body" style="height:380px;">
					<p class=" card-text"></p>
					<div class=" author">
						<div class=" block block-one">odd</div>
						<div class=" block block-two">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit
							minima consectetur veniam debitis nobis eaque aut b
						</div>
						<div class=" block block-three"></div>
						<div class=" block block-four"></div>
						<a href="javascript:void(0)">
							<img alt="..." class=" avatar" src="{{ user?.profilePicture }}" />

							<h5 class=" title">{{ user?.username }}</h5>
							<h6 class=" title">
								{{ user?.firstName != null ? user?.firstName : "" }}
								{{ user?.lastName != null ? user?.lastName : "" }}
							</h6>
						</a>
						<p class=" description">{{ user?.level?.name }}</p>
						<p class=" description">Score :
							{{ user?.score }}</p>
					</div>
					<div class=" card-description">
						<p>{{ user?.email != null ? user?.email : "" }}</p>
						{{ user?.bio }}
					</div>
				</div>
				<div class=" card-footer">
					<div class=" button-container">
						<button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
							<i class=" fab fa-facebook"></i>
						</button>
						<button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
							<i class=" fab fa-twitter"></i>
						</button>
						<button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
							<i class=" fab fa-google-plus"></i>
						</button>
						<button *ngIf="isAuth" class=" btn btn-round float-right" href="javascript:void(0)"
							(click)="onUpdateChoice()">
							Edit
							<i class="tim-icons icon-settings-gear-63"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container pr-1 pl-1">
		<div (click)="onSelectedView(1)" class="col-6 btn btn-round m-0 {{ selectedView ? 'proj-not-select' : '' }}">
			Projects
		</div>
		<div (click)="onSelectedView(2)" class="col-6 btn btn-round m-0 {{ !selectedView ? 'proj-not-select' : '' }}">
			Contributions
		</div>
	</div>
	<div class="container mt-3 cont-proj">
		<div class="row ml-1">
			<div *ngIf="!projects || projects.length == 0">No Projects</div>
			<div class=" card card-user proj-card m-1" *ngFor="let project of projects">
				<div *ngIf="selectedView" class="card_header row pb-0">
					<h4 class="col-8 mt-1 pl-4">
						<a routerLink="/user/{{ project?.user?.id }}"
							class="clickable">{{ project?.user?.username }}</a>
					</h4>
					<div class="col-4 pl-4 float-right">
						{{ project?.createdAt?.substring(0, 10).replace("-", "/").replace("-", "/") }}</div>
				</div>
				<div class=" card-body pt-0">
					<!--<p class=" card-text"></p>-->
					<div class=" {{ !selectedView ? 'author' : 'text-center' }}">
						<div *ngIf="!selectedView" class=" block block-one"></div>
						<div *ngIf="!selectedView" class=" block block-two"></div>
						<div *ngIf="!selectedView" class=" block block-three"></div>
						<div *ngIf="!selectedView" class=" block block-four"></div>

						<a routerLink="/project/{{ project?.id }}">
							<img *ngIf="project?.mainContribution?.type == 'media'"
								src="{{ project?.mainContribution?.content }}" height="320" width="260"
								class="float-center" alt="Card image cap">
						</a>
						<a routerLink="/project/{{ project?.id }}">
							<img *ngIf="project?.mainContribution?.type != 'media'" src="assets/img/unknown.jpeg"
								height="240" width="235" class="float-center" alt="Card image cap pb-1">
						</a>
						<div *ngIf="project?.mainContribution?.type != 'media'"
							class="card-text text-left  txt-cont p-1">
							{{ project?.mainContribution?.content }}
						</div>
					</div>
				</div>
				<div class=" card-footer p-0">
					<div class="row">
						<h4 class="col-8 mt-1 pl-4">
							<a routerLink="/project/{{ project?.id }}" class="clickable">
								{{ project.title }}</a>
						</h4>
						<div class="d-flex col-4 pl-1 mt-1 float-right">
							<div class="d-flex ">
								<i class="fa fa-heartbeat pt-1"></i>
								<p class="pl-1">{{ project.nbrLikes }}</p>
							</div>
							<div class="d-flex ml-2">
								<i class="fa fa-star"></i>
								<p class="pl-1">{{ project.nbrFavorites }}</p>
							</div>
							<div class="d-flex ml-2">
								<i class="fa fa-cubes pt-1"></i>
								<p class="pl-1">{{ project.nbrContributions }}</p>
							</div>
						</div>
					</div>
				</div>



			</div>



		</div>



	</div>
</div>
