/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff44;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #ffffff33;
}

.card .card-user {display:inline-block;}
.proj-card{
  height:65vh;
  width:32%;
}
.sub-header {
  position: fixed;
  top: 8%;
  background: #1E1E2E;
  width: 100%;
  z-index: 1005;
  padding: 0 10%;
}
/* FIX: */

.fixed-top .navbar-collapse {
    max-height: 250px;
    overflow-y: auto;
  }
.proj-not-select{
  opacity: 0.6;
  font-size: 95%;
}
.cont-proj{
  background-color: #ffffff08;
  border-radius:5px;
  padding:0.5%;
}
.txt-cont {
  border: 0.5px solid #ffffff14;
  height:12vh;
  margin-top:2vh;
  overflow: auto;
  background: #ffffff04;
  border-radius: 5px;
}
.clickable{
  color:rgba(255, 255, 255, 0.85);
}
.clickable:hover{
  color:rgba(255, 255, 255);
  font-size:105%;
}
.form-control, .custom-select {
   color: white !important;
}
