<table *ngIf="contributions && srcToShow == undefined" class="table mt-3 mb-4"
	style="height:320px;display: block;overflow: auto;">
	<tbody>
		<tr *ngFor="let c of contributions">
			<td class=" text-center">
				<div>
					<img alt="photo" class="avatar img-user" [routerLink]="['/user/',c?.user?.id]" src="{{ c?.user?.profilePicture }}" />
					{{ c?.user?.username }}
				</div>
			</td>
			<td class="text-left" style="width:70%">
				<div *ngIf="c?.type != 'media'">{{ c?.content }}</div>
				<div *ngIf="c?.type == 'media'">
					<img (click)="showIt(c?.content)" alt="contribution" height="120" width="105" class="ml-3 mr-2"
						src="{{ c?.content }}" />
				</div>
			</td>

			<td class=" text-right">
				<div class="row p-0 m-0">
					<button *ngIf="verifOwner && !project?.finished" (click)="openValidation(content, c)"
						class=" btn btn-success btn-link btn-icon btn-sm btn-simple col-12" tooltip="Refresh"
						type="button" aria-describedby="tooltip-6">
						<i class=" tim-icons icon-check-2"></i>
					</button>
					<button (click)="liking(c?.id)"
						class=" btn btn-link btn-icon btn-sm btn-simple col-12 {{ isLiked(c?.id) ? 'btn-danger bg-size' : 'btn-light c-light'  }}"
						tooltip="Delete" type="button" aria-describedby="tooltip-7">
						<i *ngIf="!isLiked(c?.id)" class="tim-icons tim-icons icon-heart-2"></i>
						<i *ngIf="isLiked(c?.id)" class="fa fa-heartbeat"></i>
					</button>
				</div>
				<a (click)="open(content, c?.id);" class=" btn btn-link font-weight-normal pt-0">
					<ins>{{ nbrLikes(c?.id) }} Like</ins>
				</a>

			</td>
		</tr>


	</tbody>
</table>
<div *ngIf="srcToShow" class="table mt-3 mb-4 pb-3 pt-5" class="text-center" style="height:360px;">
	<img (click)="showIt(null)" src="{{ srcToShow }}" height="325" width="255" class="mt-2" />
</div>


<ng-template #content let-modal>
	<div *ngIf="selectedLikes && isLike" style="margin-top:40vh;">
		<div class="modal-content card card-user popup" style="margin-top:-50vh;height:60vh;margin-bottom:-10vh;">
			<div class=" modal-header m-header pl-3">
				Like

				<button aria-label="Close" class=" close" data-dismiss="modal" type="button"
					(click)="modal.dismiss('Cross click')">
					<i class=" tim-icons icon-simple-remove  c-btn"></i>
				</button>
			</div>
			<div class="modal-body pt-1 " style="overflow: auto;">
				<div *ngFor="let like of selectedLikes()" class="row user-like pt-0">
					<div class="col-2">
						<a routerLink="/user/{{ like?.user?.id }}" (click)="modal.dismiss('Cross click')">
							<img alt="photo" class="avatar img-user" src="{{ like?.user?.profilePicture }}" />
						</a>
					</div>
					<a routerLink="/user/{{ like?.user?.id }}" (click)="modal.dismiss('Cross click')"
						class="col-7 link-user">
						<div>
							{{ like?.user?.username }}<br />
							<span class="user-mail">{{ like?.user?.email }}</span>
						</div>
					</a>
					<div class="col-3 pt-3">
						<span
							class="user-mail text-right">{{ like?.date.substring(0, 10).replace("-", "/").replace("-", "/") }}</span>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				...
			</div>
		</div>
	</div>

	<div *ngIf="isChoosed" class="{{ selectedContribution?.type != 'media' ? 'pop-cont' : 'pop-cont-med' }}">
		<div class="modal-content card card-user popup text-pop">
			<div class=" modal-header m-header pl-3">
				<span> Are you sure to validate <a routerLink="/user/{{ selectedContribution?.user?.id }}"
						(click)="modal.dismiss('Cross click')">{{ selectedContribution?.user?.username }}</a>
					's
					contribution ?</span>

				<button aria-label="Close" class=" close" data-dismiss="modal" type="button"
					(click)="modal.dismiss('Cross click')">
					<i class=" tim-icons icon-simple-remove  c-btn"></i>
				</button>
			</div>
			<div class="modal-body p-1 pb-0 container text-center">
				<div *ngIf="selectedContribution?.type != 'media' && selectedContribution"
					class="card-text text-left  txt-cont p-1" style="height:25vh;overflow: auto;">
					{{ selectedContribution?.content }} </div>
				<img *ngIf="selectedContribution?.type == 'media'" class="float-center" height="400" width="320"
					src="{{ selectedContribution?.content }}" />

			</div>
			<div class="modal-footer mb-0 p-1 pt-0">
				<div class="container p-0 pt-1 {{ selectedContribution?.type == 'media' ? 'btn-med' : '' }}">
					<button (click)="chooseContribution(selectedContribution?.id);modal.dismiss('Cross click')"
						class="btn btn-round btn-primary float-right">Validate</button>
				</div>
			</div>
		</div>
	</div>

</ng-template>
