.img-user {
  height: 48px;
  width: 48px;
}
.desc-txt {
  font-size: 82%;
}
/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff44;
  border-radius: 10px;
}

.link-user {
  color: #ffffff;
}

.bg-size {
  font-size: 115%;
}

.c-light {
  color: rgba(225, 78, 202, 0.5);
}

.popup {
  background: #344675;
  background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
  background-color: #344675;
  color: white;
}
.m-header {
  border-bottom: 0.75px solid rgba(255, 255, 255, 0.5);
  padding: 2%;
}
.c-btn {
  margin-bottom: 25px;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.75);
}
.c-btn:hover {
  color: rgba(255, 255, 255, 1);
  font-size: 105%;
}
.user-like {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.user-mail {
  font-size: 95%;
  color: rgba(255, 255, 255, 0.75);
}
.txt-cont {
  border: 0.5px solid #ffffff14;
  height: 15vh;
  overflow: auto;
  background: #ffffff04;
  border-radius: 5px;
}
.text-pop {
  height:-35vh;
  margin-top:-40vh;
 margin-bottom:-15vh;
 padding-bottom:-5vh;
 border:0.55px solid #fff5;
}
.pop-cont {
  margin-top:40vh;
}
.pop-cont-med {
  margin-top:30vh;
}
.btn-med {
  margin-right:17.5%;
}

