.card .card-user {display:inline-block;}
.sub-header {
  background: #1E1E2E;
  width: 100%;
  z-index: 1005;
  padding: 0 10%;
}
/* FIX: */

.content , .mt-3 {
  padding-top:0px !important;
}

.fixed-top .navbar-collapse {
    max-height: 250px;
    overflow-y: auto;
  }


.icons {
  width: 17px;
  height: auto;
  object-fit: contain;
}
  .title
  {
      color: rgb(245, 245, 245);
  }

  .imProj
  {
    width: 20rem;
    height: 25rem;
  }
  .card-description{
    height: initial !important;
  }


/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff44;
  border-radius: 10px;
}




