<!-- Search form -->
<div class="sub-header">
  <div class="row">
    <div class="col-12 text-center">
      <form [formGroup]="searchForm">

      <input class="form-control mt-4 mb-4 p-4 mx-auto shadow w-75" [(ngModel)]='searchValue' type="text" placeholder="Search"
      aria-label="Search" formControlName="searchInput" style="top: 20px !important;
      position: relative;" >
    </form>
      <div class="btn-group mx-auto " role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="DisplayAll()" >All</button>
        <button type="button" class="btn btn-secondary" (click)="projDisplay()" >Projects</button>
        <button type="button" class="btn btn-secondary"(click)="userDisplay()" >Creators</button>

      </div>
    </div>
  </div>
</div>


<div class=" content mt-3">
  <div class=" row">
    <div class="col-12">


      <div class="row" [hidden] ="showProj" >
        <div class="col-12">
          <label class="mt-5 ml-2 mb-0 font-weight-bold navbar-collapse" style="font-size: 25px;">Users</label>
          <!-- <div class="card-group">

    <div class="mt-5 col-md-4"> -->
          <div class="row" *ngIf="users && users?.length; else noUser">
            <div class="col-md-4" *ngFor="let user of users; let i  = index">
              <div class="card card-user " style="height: 60vh;" >
                <div class=" card-body">
                  <p class=" card-text"></p>
                  <div class=" author">
                    <div class=" block block-one"></div>
                    <div class=" block block-two"></div>
                    <div class=" block block-three"></div>
                    <div class=" block block-four"></div>
                    <a href="javascript:void(0)">
                      <img class=" avatar" [routerLink]="['/user',user.id]" src="{{user.profilePicture}}" />

                      <h5 class=" title">{{user.username}}</h5>
                    </a>
                    <p class=" description">{{user.location}}</p>
                  </div>
                  <div class="card-description" style="height: 8vh;overflow: hidden;">
                    {{user.bio}}
                  </div>
                </div>
                <div class=" card-footer">
                  <div class=" button-container">
                    <button class=" btn btn-icon btn-round btn-facebook" href="javascript:void(0)">
                      <i class=" fab fa-facebook"></i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-twitter" href="javascript:void(0)">
                      <i class=" fab fa-twitter"> </i>
                    </button>
                    <button class=" btn btn-icon btn-round btn-google" href="javascript:void(0)">
                      <i class=" fab fa-google-plus"> </i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <ng-template #noUser>
            <div class="text-center mt-3">
              <h2>No User  </h2>
              <iframe src="https://giphy.com/embed/3i7zenReaUuI0" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/laughing-scrubs-gif-3i7zenReaUuI0"></a></p>
            </div>
          </ng-template>
          <!-- </div>
  </div> -->
        </div>
      </div>


      <div class="row" [hidden] ="showUser">
        <div class="col-12">
            <label class="mt-5 ml-2 mb-0 font-weight-bold navbar-collapse" style="font-size: 25px;">Projects</label>


        <div class="row" *ngIf="projects && projects?.length; else noProject">

          <div class="col-md-4">
            <div class=" card card-user" *ngFor="let project of projects">
              <div class=" card-body">
                <p class=" card-text"></p>
                <div class=" author">
                  <div class=" block block-one"></div>
                  <div class=" block block-two"></div>
                  <div class=" block block-three"></div>
                  <div class=" block block-four"></div>
                  <a href="javascript:void(0)">
                  </a>

                  <img class="card-img-top imProj" src="{{project.mainContribution.content}}" alt="Card image cap">
                </div>
              <div class=" card-footer">
                <div class=" button-container">
                  <div class="card-description">
                   {{project.mainContribution.content}}
                  </div>
                </div>
              </div>
              <div class="d-inline-flex mt-1 ml-3 justify-content-between">
                <h5 class="title mb-1 ">{{project.title}}</h5>
                <div class="d-flex align-items-center  mr-3">
                  <div class="d-flex align-items-center mr-2">
                    <img class="mr-1 icons" src="assets/img/like.png">
                    <p class="mb-0">{{project.likes.length}}</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <img class="mr-1 icons" src="assets/img/bookmark.png">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>

              <p class="title font-weight-light ml-3">{{project.user.username}}</p>

            </div>


          </div>
        </div>
        </div>
        <ng-template #noProject>
            <div class="text-center mt-3">
              <h2>No Projects  </h2>
              <iframe src="https://giphy.com/embed/3i7zenReaUuI0" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/laughing-scrubs-gif-3i7zenReaUuI0"></a></p>
            </div>
          </ng-template>


      </div>

    </div>
  </div>
</div>
