<div class="content container">
    <div *ngFor="let project of projects; let i = index">
        <app-cards [feed]=project [index]=i [cardOperationType]=cardOperationType (onListChange)="removeArchivedUnArchivedProject($event)"></app-cards>
      </div>

</div>
