.uploadfilecontainer {
  background-image: url("./../../../assets/img/outbox.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 70%;
  margin: 10px auto;
  border: 2px dashed palevioletred;
  border-radius: 10px;
  background-color: #1e1e2f !important;
}
p {
  color: white !important;
}
.wrapper-pop {
  position: relative;
}
.footer-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.border-filter {
  border-left: 1px solid #eee;
}
textarea.form-control:active{
  border: 1px solid white !important;
}
.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-state='edit'] + .mat-stepper-horizontal-line {

             border-top-color: deeppink;
  }
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

/******AGE RANGE*****/

// Tested on Chrome 35, FF 29, IE10+


.container {
  width: 50%;
  float: left;
}

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: deeppink;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range::-moz-range-track {
  background-color: darkslateblue;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip { display: none; /* display and visibility only */ }

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}


.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #1e1e2f;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: .4em .6em;
  border-radius: 3px;
  background-color: #1e1e2f ;
}

.container--dark {
  background-color: #11181d;


  .range::-webkit-slider-runnable-track {
    background-color: #606670;
  }


  .range::-moz-range-track {
    background-color: #606670;
    border: none;
  }

  .range::-ms-fill-lower {
    background-color: #606670;
  }

  .range::-ms-fill-upper {
    background-color: #606670;
  }

  output {
    border: 1px solid #2b3039;
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
  }

  .range::-webkit-slider-thumb {
    background-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }

  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #606670;
    box-shadow: none;
  }

}

/****CHECKBOX*****/

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}


label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}










/***TEXT AREA***/
.aa
{
  border: #a8a8a8 solid 1px ;
  width: 90rem;
  border-radius: 5px;
}































