<div class="wrapper-pop">
  <mat-horizontal-stepper linear #stepper class="pb-5">



    <!--  FIRST FORM STEP   -->
    <mat-step>
      <form [formGroup]="myForm">
        <ng-template matStepLabel>New Project</ng-template>

        <div class="form-group row" class="align-middle">

          <label>Project Title</label>
          <input type="text" class="form-control" placeholder="Project's name" formControlName="title">
          <div class="alert alert-warning" *ngIf="title.touched && title.invalid">
            <div *ngIf=title.errors.required> you must have a project title</div>


          </div>


        </div>

        <div class="form-group row" class="align-middle">
          <label for="validationServer02">Project Description</label>
          <input type="text" class="form-control" placeholder="Project's discription" formControlName="discription">
        </div>
        <div class="alert alert-warning" *ngIf="discription.touched && discription.invalid">
          <div *ngIf=discription.errors.required> you must have a project discription</div>

        </div>



        <div class="form-group">
          <label for="exampleFormControlSelect1">Type of Project</label>
          <select class="form-control" formControlName="type">
            <option value="Media">Media</option>
            <option value="Content">Content</option>
            <option value="Both">Both</option>
          </select>
          <div class="alert alert-warning" *ngIf="type.touched && type.invalid">
            <div *ngIf=type.errors.required> please select this project's type </div>

          </div>


        </div>
        <div class="float-right footer-btn">
          <button class=" btn btn-fill" (click)="onNoClick()">Cancel</button>

          <button class="btn btn-dark" matStepperNext [disabled]="isValid1()">Next</button>
        </div>



      </form>
    </mat-step>



    <!--  SECOND FORM STEP   -->

    <mat-step [optional]="false">
      <form [formGroup]="myForm">
        <ng-template matStepLabel>
          {{myForm.controls.type.value=='Media' ? 'Media\'s Info' : myForm.controls.type.value=='Content' ? 'Content Info': 'Media and Content'}}
        </ng-template>

        <div class="">
          <div>
            <div class="row">
              <div class="col-9" *ngIf="myForm.controls.type.value ==='Both'">

                <div>



                    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                      (onFileDropped)="uploadFile($event)">
                      <input hidden type="file" formControlName="media" fileSelect #fileInput accept='image/*'
                        (change)="uploadFile($event.target.files)">
                    </div>
                    <div class="files-list" *ngFor="let file of files;let i= index">
                      <p style="color: black !important;"> {{upFile.name }} </p>
                      <button class="delete-file" (click)="deleteAttachment(i)">
                        <img src="../../assets/img/clear.png">
                      </button>
                    </div>




                  <div class="w-75  mx-auto">
                    <p>Comment:</p>
                    <textarea class="form-control aa" rows="8" id="comment" formControlName="copy"></textarea>
                  </div>

                </div>
              </div>
              <div class="col-9" *ngIf="myForm.controls.type.value !=='Both'">
                <div *ngIf="myForm.controls.type.value=='Content'">
                  <p>Content:</p>
                  <textarea class="form-control aa" rows="8" id="comment" formControlName="copy"></textarea>
                </div>

                <div *ngIf="myForm.controls.type.value=='Media'">

                  <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                      (onFileDropped)="uploadFile($event)">
                      <input hidden type="file" formControlName="media" fileSelect #fileInput accept='image/*'
                        (change)="uploadFile($event.target.files)">
                    </div>
                    <div class="files-list" *ngFor="let file of files;let i= index">
                      <p style="color: black !important;"> {{upFile.name }} </p>
                      <button class="delete-file" (click)="deleteAttachment(i)">
                        <img src="../../assets/img/clear.png">
                      </button>
                    </div>
                </div>

              </div>
              <div class="col-3 border-filter">
                <p>Critéres </p>
                <mat-slide-toggle [checked] formControlName="finished">Unfinished/Finished</mat-slide-toggle>
                <div class="filter-checkbox mt-3">

                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group mb-0"
                    formControlName="level" *ngFor=" let level of levels">
                    <div>
                      <mat-radio-button class="example-radio-button" value="{{level.id}}"> {{level.name}}
                      </mat-radio-button>
                    </div>



                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>

          <div class="row">


          </div>



        </div>




        <div class="float-right footer-btn">
          <button class=" btn btn-fill" matStepperPrevious>Back</button>
          <button matStepperNext class="btn btn-dark" [disabled]="!isValid2()">next</button>
        </div>
      </form>
    </mat-step>




    <!--PROJECT's AUDIANCE -->
    <mat-step [stepControl]="myForm" [optional]="false">
      <form [formGroup]="myForm">

        <ng-template matStepLabel>Projects Audiance</ng-template>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Min Age</label>
          <div class="container">
            <input class="range" type="range" min="0" max="100" step="1" name="minAge" formControlName="minAge"
              onmousemove="rangevalue1.value=value" onfocus='rangevalue1.value=value'
              onload="rangevalue1.value=value" />
            <output id="rangevalue1"></output>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Max Age</label>
          <div class="container">
            <input class="range" type="range" min="0" max="100" step="1" name="maxAge" formControlName="maxAge"
              onmousemove="rangevalue2.value=value" onfocus="rangevalue2.value=value" />
            <output id="rangevalue2"></output>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label  ">Gender</label>
          <div class="row align-items-center filter-checkbox">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group col-9 d-flex"
              formControlName="sex">
              <mat-radio-button class="example-radio-button mr-3" value="Male"> Male </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Female"> Female </mat-radio-button>

            </mat-radio-group>
          </div>

        </div>


        <div class="form-group row">
          <label class="col-sm-2 col-form-label border-filter">Targeted Platforms</label>
          <div class="row col-2 align-items-center filter-checkbox">

            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group mb-0"
              formControlName="targetPlatform" *ngFor=" let platform of plaforms">

              <mat-radio-button class="example-radio-button" value="{{platform.id}}"> {{platform.value}}
              </mat-radio-button>

            </mat-radio-group>
          </div>
        </div>


        <div class="float-right footer-btn" mat-dialog-actions>
          <button class=" btn btn-fill" (click)="onNoClick()">Cancel</button>
          <button class=" btn btn-fill" type="submit" value="next" (click)="submit(false)"
            [disabled]="!myForm.valid">submit</button>
        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>
