<div class="logo">
  <a href="#" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/logo.PNG" />
    </div>
  </a>
  <a href="#" class="simple-text logo-normal">
    ICU
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="['/dashboard']">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>Feed</p>
      </a>
    </li>
    <li
      routerLinkActive="active"
      class="nav-item"
    >
      <a [routerLink]="['/projects']">
        <i class="tim-icons  icon-bullet-list-67"></i>
        <p>Projects</p>
      </a>
    </li>
    <li
      routerLinkActive="active"
      class="nav-item"
    >
      <a [routerLink]="['/archivedProjects']">
        <i class="fa fa-archive" aria-hidden="true"></i>
        <p>archived Projects</p>
      </a>
    </li>
    <li
      routerLinkActive="active"
      class="nav-item"
    >
      <a [routerLink]="['/favoritesProjects']">
        <i class="fa fa-star" aria-hidden="true"></i>
        <p>favorites Projects</p>
      </a>
    </li>
    <li
      routerLinkActive="active"
      class="nav-item"
    >
      <a [routerLink]="['/drafProjects']">
        <i class="fa fa-file" aria-hidden="true"></i>
        <p>Draft Projects</p>
      </a>
    </li>
  </ul>
</div>
