
 <ng-progress></ng-progress>

<aside class="col-sm-12 pt-4">
  <p>Filters</p>
  <div class="card grey" [formGroup]="filterForm">
  <article class="card-group-item ">
          <!-- <header class="card-header"><h6 class="title">Age range</h6></header> -->
          <div class="filter-content">
            <div class="card-body">
          <!-- <mat-slider
              range
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="1"
            min="1"
            max="100"
            (input)="onInputChange($event)" formControlName="age"
            ></mat-slider> -->
            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
          <header class="card-header"><h6 class="title">Project Level</h6></header>
          <div class="filter-content">
            <div class="card-body">
              <mat-form-field>
                <mat-label class="text-white">Levels</mat-label>
                    <mat-select [multiple]= true formControlName="levels" class="text-white">
                  <mat-option *ngFor="let level of levelList" [value]="level.name" >{{level.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div> <!-- card-body.// -->
          </div>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
      <header class="card-header"><h6 class="title">Target Plateform</h6></header>
      <div class="filter-content">
        <div class="card-body">
           <mat-form-field>
                <mat-label class="text-white">Targeted Platform</mat-label>
                <mat-select class="mt-2"  [multiple]= true formControlName="platform">
                  <mat-option *ngFor="let target of targetList" [value]="target.value">{{target.value}}</mat-option>
                </mat-select>
              </mat-form-field>

        </div> <!-- card-body.// -->
      </div>
    </article> <!-- card-group-item.// -->

    <article class="card-group-item">
      <header class="card-header"><h6 class="title">Project Status</h6></header>
      <div class="filter-content">
        <div class="row card-body">
          <div class="col">
          <label>
            <mat-checkbox formControlName="finished" [value]="1"></mat-checkbox>
            <span class="form-check-label">  Finished</span>
          </label>
        </div>
        <div class="col">
          <label>
            <mat-checkbox formControlName="unfinished"  [value]="0"></mat-checkbox>
            <span class="form-check-label">  Unfinished</span>
          </label>
        </div>
        </div>
        </div> <!-- card-body.// -->
    </article>

    <article class="card-group-item">
      <header class="card-header"><h6 class="title">Genre</h6></header>
      <div class="filter-content">
        <div class="row card-body">
          <div class="col">
          <label>
            <mat-checkbox formControlName="male" [value]="1"></mat-checkbox>
           <i class="fa fa-mars pl-2"> Male</i>
          </label>
        </div>
          <div class="col">
          <label>
            <mat-checkbox formControlName="female" [value]="2"></mat-checkbox>
            <i class="fa fa-venus pl-2"> Female</i>
          </label>
        </div>
        </div> <!-- card-body.// -->
      </div>
    </article> <!-- card-group-item.// -->
  </div> <!-- card.// -->



    </aside> <!-- col.// -->
