/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ngx-toastr/toastr';


html, body { height: 100%; }
.mat-stepper-horizontal {
    background-color: #1e1e2f ;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,h3,h4,h5,h6,p, label, .mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    color: white !important;
  }
  label {
      border: 0px !important;
  }
.class-add {
    width: 1000px;
    .mat-dialog-container {
        background-color: #1e1e2f;
    }
}
option {
    color: whitesmoke;
    background-color: #1e1e2f !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
