<div class="content">
      <div class="sidenav">
        <app-filter (onListChange)="updateProject($event,1, 'filter')"></app-filter>
        <button class="bet_time" mat-fab (click)="openDialog()">+</button>
       </div>
  <div >
      <div class="cards container" >
        <div class="container " *ngFor="let item of projects">
          <app-cards  [feed]=item></app-cards>
        </div>
        <div *ngIf="showNoDataFound" class="container">
            No Data
        </div>
    </div>
  </div>



</div>

