/* The sidebar menu */
.sidenav {

  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;

  overflow-x: hidden; /* Disable horizontal scroll */

  padding-top: 20px;
}



.cards {
  margin:0;
  display:flex;
  justify-content: center;
  flex-direction: column;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 1269px ) {
  .sidenav {padding-top: 15px;
            position: relative;
  }
  .sidenav a {font-size: 18px;}
}

.sidebar {
  margin: 0;
  padding: 0;


  position: fixed;
  top: 0; /* Stay at the top */
  right: 0;
  height: 100%;
  overflow: hidden

}





/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff44;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #ffffff33;
}

.card .card-user {display:inline-block;}
.proj-card{
  height:65vh;
  width:32%;
}
.sub-header {
  position: fixed;
  top: 8%;
  background: #1E1E2E;
  width: 100%;
  z-index: 1005;
  padding: 0 10%;
}
/* FIX: */

.fixed-top .navbar-collapse {
    max-height: 250px;
    overflow-y: auto;
  }
.proj-not-select{
  opacity: 0.6;
  font-size: 95%;
}
.cont-proj{
  background-color: #ffffff08;
  border-radius:5px;
  padding:0.5%;
}
.txt-cont {
  border: 0.5px solid #ffffff14;
  height:12vh;
  margin-top:2vh;
  overflow: auto;
  background: #ffffff04;
  border-radius: 5px;
}
.clickable{
  color:rgba(255, 255, 255, 0.85);
}
.clickable:hover{
  color:rgba(255, 255, 255);
  font-size:105%;
}
